packages/
*/Scripts/*
SignalRChatBot/Test_SignalR/Scripts/
UiBroadcaster/SignalRServerController/Scripts/
UiBroadcaster/Test_SignalR/Scripts/
SignalRChatBot/SignalRServerController/Scripts/
MvcMovie/src/MvcMovie/node_modules/
CharacterManager/src/CharacterManager/node_modules/
SudokuAssistant/src/SudokuAssistant/node_modules/
Test_SDAssist/src/Test_SDAssist/node_modules/
Test_SDAssistV2/src/
bin
obj
*.suo
_suo.doc
MvcMovie/src/MvcMovie/MvcMovie.xproj.user
NugetPackageManager/NugetPackageHost/NugetPackageHost.csproj.user
SignalRChatBot/Test_SignalR/Test_SignalR.csproj.user
Test_SDAssist/src/Test_SDAssist/Test_SDAssist.xproj.user
UiBroadcaster/.vs/WpfBroadcaster/v14/_suo(1).doc
UiBroadcaster/Test_SignalR/UiClient.csproj.user
Webtender2/Webtender2/Properties/PublishProfiles/Test8-11-2016.pubxml.user
Webtender2/Webtender2/Webtender2.csproj.user
*.ide
*.exe
*.lock
/RestartVS/.vs/RestartVS/v15/Server/sqlite3
*.ide-wal
*.ide-shm
